.page-numbers {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.current {
    background-color: #4CAF50;
}

.clickable:hover {
    cursor: pointer;
    background: lavender;
}

.page-numbers:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}
